.button{
    background: #F1F6F9;
    border: 2px solid #14274E;
    border-radius: 17px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #394867;
    min-width: 120px;
    height: 35px;
    padding: 0 20px;
}